.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 30px 0 50px 0;
}
.wrap {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    border: 2px solid #A9A9A9;
}
.cart-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.cart-icon img {
    width: 40px;
    height: 40px;
}
#cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
}
.cart-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.cart-icon img {
    width: 40px;
    height: 40px;
}
#cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 20px;
}
.cart-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.product-card {
    width: 250px;
    height: auto; 
    border: 2px solid #A9A9A9;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-card img {
    width: 148px;
    height: 225px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.lang-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
