body{
    background-color: rgb(2, 2, 144);
}
.btn {
	display: block;
	width: 280px;
	height: 58px;
	border-radius: 18px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	background: linear-gradient(to right, rgb(166, 45, 237), rgb(239, 95, 119));
    margin: 10px auto;
}
.btn:hover {
	background: rgba(192, 100, 235, 0.453);
	
}