* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #dcdada;
  color: #333;
}
.header {
  background-color: #0E2BC6;
  color: white;
  padding: 40px;
  text-align: left;
  height: 240px;
  line-height: 40px;
}
.line {
  border: none;            
  height: 1px;             
  background-color: #ABABAB; 
}
.trademark {
color: #ABABAB;
font-size: 14px;
}
.header .date {
font-size: 14px;
margin-top: 10px;
color: #ABABAB;
}
.header h1 {
  font-size: 48px;
  margin-top: 20px;
}
.header h2 {
  color: black;
  font-size: 17px;
}
.payment {
  margin: 50px auto;
  text-align: center;
  color: #6B7888;
  font-size: 15px;
}
.payment-form {
  margin: 50px auto;
  background-color: white;
  padding: 25px;
  width: 484px;
  height: 592px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-form h2 {
  font-size: 18px;
  margin-bottom: 30px;
}
.close-btn {
  background-color: #dcdada;
  border-radius: 50px;
  font-size: 33px; 
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
label span {
  display: inline-block;
  background-color: #333; 
  border-radius: 50%; 
  color: white; 
  width: 12px;
  height: 12px;
  text-align: center; 
  line-height: 15px; 
  font-size: 10px; 
  cursor: pointer; 
}
form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #6B7888;
}
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-wrapper {
  position: relative;
}
.input-wrapper .card-icon {
  position: absolute;
  right: 8px;
  top: 10px; 
}
.input-wrapper .eye-icon {
  position: absolute;
  right: 25px;
  top: 8px; 
}
.icon-image {
  width: 20px; 
  height: auto; 
}
.input-email {
  position: relative;
}
.check-icon {
  position: absolute;
  top: 32px;
  right: 8px;
}
.input-username {
  position: relative;
}
.loading-icon {
  position: absolute;
  top: 35px;
  right: 8px;
}
.valliding {
  color: #646363;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 35px;
}
.input-date {
  position: relative;
}
.date-icon {
  position: absolute;
  top: 35px;
  right: 8px; 
}
.input-wrapper .cvc-icon1 {
  position: absolute;
  right: 25px;
  top: 18px;
  transform: translateY(-50%);
  font-size: 18px;
}
.input-wrapper .cvc-icon2 {
  position: absolute;
  right: 10px;
  top: 18px;
  transform: translateY(-50%);
  background-color: #333; 
  border-radius: 50%; 
  color: white; 
  width: 12px;
  height: 12px;
  text-align: center; 
  line-height: 15px; 
  font-size: 10px; 
  cursor: pointer; 
}
.row {
  display: flex;
  justify-content: space-between;
}
.row > div {
  width: 48%;
}
.sing-up{
  margin: 50px auto;
  text-align: center;
  color: #6B7888;
  font-size: 15px;
}
.singup-form {
  margin: 50px auto;
  background-color: white;
  padding: 25px;
  width: 484px;
  height: 376px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.information{
  margin: 50px auto;
  text-align: center;
  color: #6B7888;
  font-size: 15px;
}
.information-form {
  margin: 50px auto;
  background-color: white;
  padding: 25px;
  width: 484px;
  height: 720px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.required-field {
  color: red;
  background-color: white;
  font-size: 12px;
}
.valid-check {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  font-size: 18px;
  display: none;
}
.input-username,
.input-name {
  position: relative;
  margin-bottom: 20px;
}
.phone,
.currency {
  margin-top: 25px;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  font-size: 1.2rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}
input:focus {
  border-color: #000;
  outline: none;
}
.form-row {
  display: flex;
  gap: 10px;
}
.form-group {
  flex: 1;
}
#phone {
  border: none;
  margin-top: 16px;
}
.phone-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
  width: 100%;
  height: 40px;
}
#flag{
  border: none;
  background: transparent;
  font-size: 16px;
  padding-right: 10px;
  margin-top: 16px;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
}
.phone-input .flag {
  font-size: 1.2rem;
  margin-right: 10px;
}
.currency-switcher {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.currency-switcher label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.currency-switcher input {
  margin-right: 5px;
}
.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exit-btn {
  position: relative;
  top: -15px;
  left: 0px;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  cursor: pointer;
  font-size: 25px; 
  color: #555;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.cancel-btn, .update-btn {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.cancel-btn {
  width: 85px;
  height: 40px;
  background-color: white;
  border: 1px solid #ccc;
}
.update-btn {
  width: 327px;
  height: 40px;
  background-color: #000;
  color: white;
}
.update-btn:hover{
  background-color: #ccc;
  color: #333;
  border: 1px solid #555;
}
.currency-options {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.currency-form {
  padding-top: 25px;
}
.currency-options input[type="radio"] {
  display: none;
}
.currency-label {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #555;
  transition: background-color 0.3s, color 0.3s;
  margin: 3px
}
.currency-options input[type="radio"]:checked + .currency-label {
  background-color: #fff;
  color: black;
  font-weight: bold;
}
.currency-label:hover {
  background-color: #ddd;
}
.language {
  padding-top: 20px;
}
.prefix {
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
}
.website-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#website {
  border: none;
  margin: 4px 0 5px -5px;
}